

/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(49, 43, 43);
 
}
.Header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:#fefefe;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
    max-width: 600px;
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1,h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    



/* Set the apperance of the class, chart */
.chart{
    align-items: center;
    width:330px;
    border-width: 2px;
    border-style: transparent;
    border-radius: 5px;
    border-color: white;
    margin-left: 10px;
    margin-right: 60px;

}
.project_style{
    margin: auto;
    margin-top: 10px;
    align-content: center;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(24, 54, 66);
}
.chartdashboard{
        align-items: center;
        background-color: white;
        width:320px;
        height:260px;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        border-color: #313d5a;
        margin-left: 30px;
        margin-bottom: 30px;
    } 
    .dashboard_style{
        margin: auto;
        margin-top: 10px;
        align-content: center;
        max-width: 1200px;
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
        
          
        border-width: 3px;
        border-style: solid;
        border-radius: 10px;
        border-color: rgb(24, 54, 66);
    }

.myWeek5
.grid_items {
    padding: 2px;
    display: grid;
    grid-template-columns: 100%;
    max-width: 800px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 5px;
    grid-row-gap: 20px;
  }
